#encabezado{
    text-align: center;
    padding: 2%;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#comentarios img{
    max-width: 2.5%
}

#comentarios a{
    font-weight: bolder;
}

#comentarios h6{
    font-style: italic;
}